<p><%= @resource.username %>様</p>

<p>パスワードの申請を受け付けました。</p>
<p>以下のURLよりパスワードリセットの手続きを行ってください。</p>

<p>URL : <%= link_to 'Change my password', edit_user_password_url(@resource, reset_password_token: @token) %></p>


<p>リクエストしていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまでは、パスワードは変更されません</p>

<p> </p>
<p>本メールは送信専用です。</p>
<p>ご返信頂きましても対応致しかねますのでご了承くださいませ。</p>
